---
layout: default
---

<a href="bonnie1.html">Back to Homepage</a>

 <---{% if page.teaser %}
      <p class="page-teaser"><em>{{ page.teaser }}</em></p>
  {% endif %}--->
<p><i><b><a href="https://patreon.com/danluu">I'm trying some experimental tiers on Patreon</a></b> to see if I can get to <a href="https://twitter.com/danluu/status/1456346963691991041">substack-like levels of financial support for this blog without moving to substack</a>!</i></p>
<main>
 <h1 class="page-header">{{ page.header }}</h1>
    {{content}}
</main>
