---
layout: default
---

<style>.container{background-color:red;}body{font-size:28px;}h1,h2,h3,h4,h5,h6{font-family:sans-serif;font-size:1em;}h1{color:red;}</style>

<article>
  
  {{content}}
  
  <br><br><br>
  
  <div class="container">
  <img src="https://solar.lowtechmagazine.com/dithers/the-surgeon.png" alt="Snow" style="width:100%;">
  <div class="centered" style="font-size:6em;font-weight:bold; font-family:serif;">
DM</div>
  </div></div><i>Deryk Makgill</i>
  
  <p><a href="/about">_about</a></p>
  <p><a href="/about">_newsletter</a></p
  <p><a href="/about">_store</a></p

    
  
</article>
